Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
psycopg2-binary
cryptography>=41.0.4
scikit-learn
pandas
numpy
reportlab
python-dotenv
email-validator
gunicorn
Werkzeug
WTForms
bcrypt
qrcode
pillow
pyotp
Flask-Mail
